.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 1px 5px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/* payment section */

.onlinepayment {
  padding-top: 100px;
  padding-bottom: 77px;
  padding-left: 15px;
  padding-right: 15px;
}
.onlinepayment .box {
  max-width: 1240px;
  margin: auto;
  display: flex;
}
.onlinepayment .box .leftside {
  max-width: 55%;
  width: 100%;
  min-height: 1013px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  position: relative;
  background: url("../../public/images/img.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
.onlinepayment .box .leftside .donwlogo {
  position: absolute;
  left: 40px;
  bottom: 40px;
  z-index: 1;
}
.onlinepayment .box .leftside h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  max-width: 450px;
}
.onlinepayment .box .leftside p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.47px;
  color: #ffffff;
  max-width: 490px;
  margin-top: 30px;
}
.onlinepayment .box .leftside .cont {
  position: relative;
  z-index: 1;
  padding: 138px 40px 0;
}
.onlinepayment .box .leftside:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    186.54deg,
    #5452b5 5.14%,
    rgba(47, 46, 99, 0.13) 136.14%
  );
}
.onlinepayment .box .rightside {
  max-width: 45%;
  width: 100%;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  padding: 68px 32px;
}
.onlinepayment .box .rightside h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.022em;
  color: #121212;
}
.onlinepayment .box .rightside form {
  margin-top: 86px;
}
.onlinepayment .box .rightside .card {
  margin-bottom: 29px;
}
.onlinepayment .box .rightside .card .foricon {
  position: relative;
}
.onlinepayment .box .rightside .card .foricon .copy {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.onlinepayment .box .rightside .card .foricon a {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.onlinepayment .box .rightside .card .foricon a:hover {
  opacity: 0.7;
}
.onlinepayment .box .rightside .card p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  margin-bottom: 4px;
}
.onlinepayment .box .rightside .card select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background: url("../../public/images/arrow.png") no-repeat calc(100% - 29px)
    center white;
  display: block;
  width: 100%;
  padding: 18px 24px;
  border: 1px solid #e0dfe2;
  border-radius: 6px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
}
.onlinepayment .box .rightside .card input {
  display: block;
  width: 100%;
  padding: 18px 24px;
  border: 1px solid #e0dfe2;
  border-radius: 6px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  background-color: white;
}
.onlinepayment .box .rightside button {
  display: block;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 19px;
  background: #5452b5;
  border-radius: 6px;
  border: 0;
  width: 100%;
  margin-top: 52px;
  letter-spacing: 0.7px;
}

.onlinepayment .box .rightside button:hover {
  opacity: 0.7;
}

.onlinepayment .box .rightside .disabled {
  background: gray;
  cursor: not-allowed;
}

/* @media (max-width: 1270px) {
  .onlinepayment .box {
    max-width: 1000px;
  }
  .onlinepayment .box .leftside h1 {
    font-size: 42px;
    line-height: 120%;
  }
  .onlinepayment .box .leftside p {
    font-size: 21px;
    line-height: 120%;
    letter-spacing: unset;
    max-width: 410px;
  }
  .onlinepayment .box .leftside .cont {
    padding-top: 68px;
  }
  .onlinepayment .box .leftside,
  .onlinepayment .box .rightside {
    max-width: 50%;
  }
} */

@media (max-width: 1000px) {
  .onlinepayment .box {
    max-width: 660px;
  }
  .onlinepayment .box {
    display: block;
    text-align: center;
  }
  .onlinepayment .box .leftside,
  .onlinepayment .box .rightside {
    max-width: 100%;
  }
  .onlinepayment .box .leftside {
    border-radius: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .onlinepayment .box .rightside {
    border-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .onlinepayment .box .leftside h1 {
    max-width: 100%;
    margin-bottom: 5px;
  }
  .onlinepayment .box .leftside p {
    margin: auto;
    margin-top: 15px;
    max-width: 100%;
    font-size: 17px;
    line-height: 140%;
    max-width: 400px;
  }
  .onlinepayment .box .leftside {
    min-height: unset;
    padding-bottom: 100px;
  }
  .onlinepayment .box .leftside .donwlogo {
    bottom: 20px;
    left: 20px;
  }
  .onlinepayment .box .rightside {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .onlinepayment .box .rightside form {
    margin-top: 30px;
  }
  .onlinepayment .box .rightside .card p {
    text-align: left;
  }
}

@media (max-width: 660px) {
  .onlinepayment .box .leftside .cont {
    padding: 30px 10px;
  }
  .onlinepayment .box .leftside h1 {
    font-size: 32px;
    line-height: 130%;
  }
  .onlinepayment .box .leftside p {
    margin-top: 10px;
  }
  .onlinepayment .box .leftside {
    padding-bottom: 50px;
  }
  .onlinepayment .box .rightside {
    padding: 30px 15px 15px;
  }
  .onlinepayment .box .rightside h2 {
    font-size: 17px;
  }
}
