.login {
}
.login .box {
  margin: auto;
  display: flex;
}
.login .box .rightside {
  max-width: 50%;
  width: 100%;
  min-height: 675px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  background: url("../../public/images/login.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
.login .box .rightside .donwlogo {
  position: absolute;
  left: 40px;
  bottom: 40px;
  z-index: 2;
}
.login .box .rightside h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  max-width: 350px;
}
.login .box .rightside p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.47px;
  color: #ffffff;
  max-width: 490px;
  margin-top: 30px;
}
.login .box .rightside .cont {
  position: relative;
  z-index: 2;
  padding: 138px 0px;
  text-align: center;
  left: 80px;
}
.login .box .rightside:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    186.54deg,
    #5452b5 5.14%,
    rgba(47, 46, 99, 0.13) 136.14%
  );
}
.login .box .leftside {
  max-width: 50%;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  position: relative;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  padding: 150px 70px 70px;
}
.login .box .leftside h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.02rem;
  color: #121212;
}
.login .box .leftside form {
  margin-top: 30px;
}
.login .box .leftside .card {
  margin-bottom: 12px;
}
.login .box .leftside .card .foricon {
  position: relative;
}
.login .box .leftside .card .foricon .copy {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.login .box .leftside .card .foricon a {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.login .box .leftside .card .foricon a:hover {
  opacity: 0.7;
}
.login .box .leftside .card p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  margin-bottom: 4px;
}
.login .box .leftside .card select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background: url("../../public/images/arrow.png") no-repeat calc(100% - 29px)
    center white;
  display: block;
  width: 100%;
  padding: 18px 24px;
  border: 1px solid #e0dfe2;
  border-radius: 6px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
}
.login .box .leftside .card input {
  display: block;
  width: 100%;
  padding: 15px 24px;
  border: 1px solid #e0dfe2;
  border-radius: 6px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
}
.login .box .leftside button {
  display: block;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 19px;
  background: #5452b5;
  border-radius: 6px;
  border: 0;
  width: 100%;
  margin-top: 52px;
  letter-spacing: 0.02rem;
}

.login .error {
  border-color: #dc3545 !important;
  /* color: #dc3545 !important; */
  /* margin-top: 5px; */
}

/* @media (max-width: 1270px) {
  .login .box .rightside h1 {
    font-size: 42px;
    line-height: 120%;
  }
  .login .box .rightside p {
    font-size: 21px;
    line-height: 120%;
    letter-spacing: unset;
    max-width: 410px;
  }
  .login .box .rightside .cont {
    padding-top: 68px;
  }
  .login .box .rightside,
  .login .box .leftside {
    max-width: 50%;
  }
} */

@media (max-width: 1030px) {
  .login .box {
    display: block;
    text-align: center;
  }
  .login .box .rightside,
  .login .box .leftside {
    max-width: 100%;
  }
  .login .box .rightside {
    border-radius: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .login .box .leftside {
    border-radius: 15px;
  }
  .login .box .rightside h1 {
    max-width: 100%;
    margin-bottom: 5px;
  }
  .login .box .rightside p {
    margin: auto;
    margin-top: 15px;
    max-width: 100%;
    font-size: 17px;
    line-height: 140%;
    max-width: 400px;
  }
  .login .box .rightside {
    min-height: unset;
    padding-bottom: 100px;
    display: none;
  }
  .login .box .rightside .donwlogo {
    bottom: 20px;
    left: 20px;
  }
  .login .box .leftside {
    padding: 125px 40px 215px;
  }
  .login .box .leftside form {
    margin-top: 30px;
  }
  .login .box .leftside .card p {
    text-align: left;
  }
}

@media (max-width: 500px) {
  .login .box .rightside .cont {
    padding: 30px 10px;
  }
  .login .box .rightside h1 {
    font-size: 32px;
    line-height: 130%;
  }
  .login .box .rightside p {
    margin-top: 10px;
  }
  .login .box .rightside {
    padding-bottom: 50px;
    display: none;
  }
  .login .box .leftside {
    padding: 70px 30px 90px;
  }
  .login .box .leftside button {
    padding: 15px;
  }
  .login .box .leftside h2 {
    font-size: 20px;
  }

  .login .box .leftside .card input {
    padding: 10px 24px;
  }
}
