.destination {
  padding-top: 86px;
  background: white !important;
}

.destination .heading {
  text-align: center;
}

.targets a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  color: #58595b;
  cursor: pointer;
  text-decoration-line: none;
  border-bottom: 2px solid transparent;
}

.targets a:hover {
  color: #5452b5;
  border-color: #5452b5;
}

.targets .active {
  color: #121212;
  border-color: #121212;
  font-weight: 700;
}

.targets span {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.targets li {
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .targets {
    display: flex;
    overflow-x: auto;
    padding: 25px 10px 0px;
    list-style: none;
    white-space: nowrap;
  }
  .targets li {
    margin-right: 25px;
  }
}

@media (min-width: 992px) {
  .targets {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0px 0px;
    flex-wrap: wrap;
    list-style: none;
  }
}

/* features css */

.features {
  padding-top: 86px;
}

.features .rightside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: 660px) {
  .features .rightside {
    height: 534px;
  }
}

.features .rightside .card {
  display: flex;
  background: white;
  padding: 20px 30px 20px 20px;
  box-shadow: 10px 10px 15px rgb(171 151 151 / 10%);
  border-radius: 6px;
}

.features .rightside .card img {
  padding-right: 10px;
  max-width: 100px;
  width: 40px;
  margin: 3px 5px 0px 0px;
}

@media (max-width: 768px) {
  .features .coverimg {
    max-width: 400px;
    width: 100%;
  }

  .features .rightside .card {
    margin-top: 15px;
  }
}

@media (max-width: 992px) {
  .features .rightside .card {
    margin-bottom: 10px;
  }
}

/* feedback css */

.feedback {
  padding-top: 86px;
}

.carditem {
  padding: 20px 20px 10px;
  box-shadow: 3px 3px rgb(0 0 0 / 10%);
  border: 2px solid #efe5e5;
  border-radius: 6px;
}

.carditem .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.carditem .header .title p {
  margin-top: -10;
}

.carditem .header .header .rating {
  margin-top: -15;
}

/* partner css */
.partner {
  padding-top: 86px;
}

/* newsletter css */
.newsletter {
  padding-top: 86px;
  padding-bottom: 86px;
}

.newsletter .leftside {
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 400px;
}

.destination h1,
.newsletter .leftside h1,
.partner h1,
.feedback h1,
.features h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #121212;
  margin-bottom: 16px;
}

.newsletter .leftside p,
.partner p,
.carditem p,
.features p {
  font-family: "Rubik";
  font-style: normal;
  font-size: 18px;
}

.features .content,
.feedback .content {
  font-family: "Rubik";
  font-style: normal;
  font-size: 14px;
}
.newsletter .form {
  margin-top: 50px;
}

.newsletter .leftside .form div {
  padding: 0px !important;
}

.newsletter img {
  width: 100%;
}

.newsletter .form input {
  display: block;
  width: 95%;
  padding: 15px 24px;
  border: 1px solid #e0dfe2;
  border-radius: 6px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  margin-bottom: 10px;
}

.newsletter .form button {
  display: block;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 16px;
  background: #5452b5;
  border-radius: 6px;
  border: 0;
  width: 95%;
  letter-spacing: 0.02rem;
}

.newsletter .form button:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .features .coverimg {
    display: none;
  }

  /* .newsletter .newsletterimg {
    margin-top: 25px;
    text-align: center;
  } */

  .newsletter img {
    display: none;
  }

  .newsletter .leftside .terms {
    margin-top: 10px;
  }
}

@media (max-width: 1000px) {
  .destination h1,
  .newsletter .leftside h1,
  .partner h1,
  .feedback h1,
  .features h1 {
    font-size: 30px;
  }

  .features .rightside .card img {
    width: 35px;
  }
  .newsletter .leftside {
    height: 275px;
  }

  .newsletter .leftside p,
  .partner p,
  .carditem p,
  .features p {
    font-size: 16px;
  }

  .features .content,
  .feedback .content {
    font-size: 12px;
  }
}

@media (max-width: 660px) {
  .destination h1,
  .newsletter .leftside h1,
  .partner h1,
  .feedback h1,
  .features h1 {
    font-size: 24px;
  }
  .features,
  .feedback,
  .partner,
  .newsletter {
    padding-top: 50px;
  }
  .features .rightside .card img {
    width: 30px;
  }
  .newsletter .leftside p,
  .partner p,
  .carditem p,
  .features p {
    font-size: 12px;
  }

  .newsletter .leftside .form input,
  .newsletter .leftside .form button {
    width: 100%;
  }

  .features .content,
  .feedback .content {
    font-size: 10px;
  }
}
